:root{
    --blanco: #ffffff;
    --oscuro: #a79797;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #Dfe9f3;
    }
    /* hack para convertir: 1irem = 10px */
    html{
          font-size: 62.5%;    
    }
    
    body{
         font-size: 16px;
         background-image: linear-gradient(to top,var(--grisclaro) 0%, var(--grisclaro) 100%);
    }
    .sombra{
          -webkit-box-shadow: 4px 10px 5px 0px rgba(0,0,0,43);
          -moz-box-shadow: 4px 10px 5px 0px rgba(0,0,0,43);
          box-shadow: 4px 10px 5px 0px rgba(0,0,0,43);
          background-color: var(--blanco);
          padding: 2rem;
          border-radius: 1rem;
    }


    .contenedor p{
      font-size: 16px;
    }

    .fondo{
      background-color: var(--gris);
    }



    img{
      text-align: center;
    }
    
    h1{
          font-size: 3.8rem;
          font-weight: bold;
    }
    
    h2{
          font-size: 2.8rem;
    }
    
    h3{
          font-size: 1.8rem;
    }
    
    h1,h2,h3{
          text-align: center;
    }

    .normal{
      font-size: 2.1rem;
      font-weight: normal;
    }

    .servicio p{
      justify-content: center;
    }
    
    .free h2{
          font-size: 10rem;
    }
    
    .titulo span{
          font-size: 2rem;
    }

    .textos p{
      font-size: 20rem;
    }
    
    .contenedor{
          width: 120rem;
          margin: 0 auto;
    }

    .iframe-contenedor{
      display: flex;
      justify-content: right;
      align-items: right;
      background-color: var(--primario);
    }

    .iframe-contenedor p{
      justify-content: left;
      align-items: left;
    }
    
    .nav-bg{
          background-color: var(--secundario);
    }
    .navegacion-principal{
          display: flex;
          flex-direction: column;
          align-items: center;
    }
    
    @media (min-width: 768px){
          .navegacion-principal{
                flex-direction: row;
                justify-content: space-evenly;
          }
    }
    
    .navegacion-principal a{
          color: var(--blanco);
          text-decoration: none;
          font-size: 2rem;
          font-weight: bold;
          padding: 1rem;
    }
    
    .navegacion-principal a:hover{
          background-color: var(--primario);
          color: var(--oscuro);
    }
    
    .free{
          background-image: url(../img/free2.png);
          background-repeat: no-repeat;
          background-size: cover; 
          height: 350px;
          padding: 20px;
          position: relative;
          margin-bottom: 1rem;
    }
    
    .contenido-free{
          position: absolute;
          background-color: rgb(0,0,0/50%);
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
    }
    
    .contenido-free svg{
          color: var(--primario);
    }
    
    .contenido-free h2,.contenido-free p{
          color: var(--blanco);
    }
    
    .boton_c:hover{
          cursor: pointer;
    }
    
    .free svg{
          stroke: var(--primario);
    }
    
    .pie{
          text-align: center;
    }

    .flexbox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      box-sizing: border-box;
      margin: 0px -7.5px;
    }
    
    .item {
      box-sizing: border-box;
      width: 50%;
      margin-bottom: 20px;
      padding: 0px 7.5px;
    }
    
    .content {
      color: #242424;
      background-color: #ffffff;
      font-weight: 600;
      text-align: center;
      box-sizing: border-box;
      height: 100%;
      padding: 10px;
    }

    .content img{
      justify-content: right;
    }

.nav-bg material-symbols-outlined{
      stroke: var(--blanco);
}